#row_iceshop_iceimport_server_info_path_url, .empty_field {
     display: none;
 }

.iceimport_green {
    color: #05b12e;
}

.iceimport_red {
    color: #ff001a;
}

.iceimport_problems_digest {
    display: none;
}